*{
  font-family: "Poppins",  "Actor", "Adamina";
  font-weight: lighter;
}
.bgc{
  background-color: rgb(245,245,245);
  padding: 50px 150px;
}
.header{
  color: white;
  background-color: black;
}
.nav1{
  display: flex;
}

.ul1>ul{
  display: flex;
  list-style: none;
  padding-top: 30px;
  justify-content: right;  
}
.ul1 > ul> li{
  padding: 10px;
padding-right: 40px;

}
a{
  text-decoration: none;
  color: white;
}
ul>.log1{
  background-color: rgb(253,177,85);
  margin-right: 40px;

}
.ul2{
padding-top: 50px;
display: flex;
justify-content: space-between;
}
.ul2 p{
  list-style: none;
  padding-left: 150px;
  font-size: 20px;
  padding-right: 100px;
  font-size: 25px;
}
.small{
  font-size: xx-small;
  font-weight: lighter;
}
.design{
  display: flex;
  width: 100%;
}
.design1{
  width: 100%;
}

.design img{
  width: 700px;
  height: 100%;
}
.design2{
  border-radius: 15px;
  padding: 30px;
  justify-content: space-around;
  background-color: white;
  margin-left: 30px;
  width: 30%;

}
.design2 p{
  color: rgb(247,222,175);
}
.design-left{
  display: flex;
  background-color: rgb(245,245,245);
  border-radius: 30px;
  width: 200px;
  height: 90px;
}
.design-left h3{
  width: 100px;
}
.pro-forms{
  padding-top: 30px;
  border-radius: 20px;
  border: none;
}
.form{
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  width: 200px;
}
.info{
  background-color: white;
  padding: 30px;
  margin-left: 0;
  margin-bottom: 70px;
  border-radius: 15px;
  width: 70%;
}
td{
  border: 1px solid black;
  padding: 20px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  width: 100px;
}
td img{
  width: 30px;
  height: 100%;
}
.design-left img{
  border-radius: 50%;
}
.learn-btn{
  color: white;
  background-color: black;
  height: 45px;
  width: 170px;
  border: none;
  border-radius: 0 10px 0 0;
}
span{
  color: rgb(186,121,58);
  size: 30px;
  font-size: 20px;
}
.main-ac{
  display: flex;
  line-height: 40px;
}
.ac1{
  justify-content:
   left;padding-right: 50px;
}
.ac2{
  padding-left: 80px;
}
.ac3{
  padding-left: 80px;
}
.column {
  float: left;
  padding: 5px;
  padding: 30px 0;
}
.column img{
  height: 80px;
  justify-content: space-between;
  padding: 12px;
}

.row::after {
  content: "";
  clear: both;
  display: flex;
  width: 700px;
}
.descript{
  background-color: white;
  border-radius: 20px;
  height: max-content;
  padding: 20px;
  width: 70%;
}

.feature{
  background-color: white;
  border-radius: 20px;
  height: max-content;
  width: 70%;
  padding: 20px;
  margin-top: 30px;
}
.ac{
  display: block;
}
.list1{
  border-right: 150px;
  width: 70%;
  margin-top: 50px;
  padding: 20px;

}
.list1 h2{
  font-size: 30px;
}
.list-img{
  width: 150px;
  height: 118.75px;
}
.mainlistings{
  display: flex;
  justify-content: space-between;
}
.listings{
  height: 300px;
  background-color: white;
  height: max-content;
  border-radius: 20px;
}
.listings p{
  padding-left: 20px;
}
.listings li{
  display: flex;
}

.footer{
  background-color: black;
  color: white;
  padding-top: 50px;
  padding-left: 130px;
  padding-right: 180px;
  margin-top: 50px;
}
.footer-right{
  display: flex;
  padding: 80px;
}

.foot1{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  font-size: 35px;
}
.foot1 button{
  background-color: rgb(253,177,85);
  height: 60px;
  width: 180px;
  border: none;
  border-radius: 0 25px 0px 0px;
}
.foot-icon{
  float: left;
  width: 20px;
  height: auto;
  justify-content: space-between;
}
.foot-right{
  float: right;
}
